header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

p {
    line-height: 1.6;
    margin: 0;
    text-align: justify;
    
}
#readmore {
    text-align: justify;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

nav {
    text-align: center;
    border-top: 3px solid black;
    margin: 0px 20px 20px 20px;
    padding-bottom: 20px;
}

.top {
    background-color: orange;
    height: 30px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#text-center {
    text-align: center;
}

#logo img {
    width: 200px;
    height: 200px;
    margin: 5px;
}

#logo-description {
    font-style: italic;
    margin: 10px
}

.text-center {
    text-align: center;
}

.text-center span {
    font-weight: bold;
}

section {
    margin-top: 20px;
    text-align: center;
}

figure {
    margin: 0;
}

figure img {
    width: 500px;
    height: auto;
    
}

#attire-description {
    font-style: italic;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}