ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

nav {
    text-align: center;
    border-top: 3px solid black;
    margin: 0px 20px 20px 20px;
    padding-bottom: 20px;
}

.top {
    background-color: orange;
    height: 30px;


}

#text-center {}

#logo {}

.text-center {}